.Lol{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color:transparent;
    padding: 10px;
    text-align: center;
    margin-left: 4%;
    align-items: center;
    margin-bottom: 10vh;
}

.menu{
    height: 50px;
    width: 260px;
   
    cursor: pointer;
    margin-top: 30px;
    font-size: large;
    font-weight: 500;
}

.menu>p {
    position: relative;
    display: block;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
}
  
.menu p::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #fff, #D4AF37, #fff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
  
.menu p:hover::before {
    transform: scaleX(1);
}

.menu[data-animation="center"] p::before {
    transform-origin: center;
}

.zfot {
    color:#fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 0.3rem;
    font-weight: 600;
}

#root {
    height: 100vh;
    /* overflow-y: scroll;  */
    /* scroll-snap-type: y mandatory; */
}

div#root section {
    min-height: 100vh;
    /* scroll-snap-align: start;     */
}

.section {
    padding-top: 7rem;
}

.primaryColor{
    color: #0078D4;
}

.card{
    background-color: transparent;
}

.navHome{
    background-color: transparent!important;
    height: 100px;
    font-weight: bold;
}

.navNotHome{
    background-color: #D4AF37!important;
    font-weight: bold;
}
  
.animation {
    height:50px;
    overflow:hidden;
    text-transform: uppercase;
    margin-left: 1rem;
}
  
.animation > div > div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
}
  
.animation div:first-child {
    animation: text-animation 20s infinite;
}
  
@keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: 0;}
    60% {margin-top: 0;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
}

.shi {
    font-weight: 600;
    background: linear-gradient(90deg, #fff, #D4AF37, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}
  
@keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 600px;
    }
}

.carousel-indicators [data-bs-target] {
    background-color: transparent;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-image: none;
}